

.footer {
    color: var(--color-primary);
    h2 {
      font-size: xx-large;
      line-height: 2em;
    }

    padding: 40px 30px;
    background-color: #222;
    margin-top: 80px;

   
    span{
        color: white;
    }

    ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:18px;
      line-height:1.6;
      margin-bottom:0;
    }
    
    li {
      padding:0 15px;
      display: inline-block;
    }
    
    ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    ul a:hover {
      opacity:1;
    }
  }

 