@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css?family=PT%20Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

body {
  background-color: #E4F1E0;  
  padding-left: 285px;
  font-family: 'Cunia';
}

* {
  letter-spacing: inherit;
}

.loading {
  &::after {
      content:'';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(14,26,22,0.8) url(/loading.svg) no-repeat center;
      background-size: 300px;
      backdrop-filter: blur(5px);
      position: fixed;
      z-index: 9;
  }
}

.bn-onboard-custom.bn-onboard-modal {
  z-index: 999;
  background: rgba(14,26,22,0.8);
  backdrop-filter: blur(5px);
}

.bn-onboard-custom.bn-onboard-dark-mode.bn-onboard-modal-content {
  width: 30em;
  background-color: #448C89;
}

.bn-onboard-custom.bn-onboard-dark-mode-background-hover:hover, .bn-onboard-custom.bn-onboard-dark-mode-background {
  background: #28615f !important;
}

.bn-onboard-custom.bn-onboard-modal-content-close {
  width: 2em;
  height: 2em;
}
.bn-onboard-custom.bn-onboard-dark-mode-close-background:hover {
  background-color: #28615f !important;
}
.bn-onboard-custom.bn-onboard-select-info-container span {
  color: white !important;
}